<div class="item">
  <h3 class="name">
    <span class="company-website"><a href="{{website}}">{{website}}</a></span>
    {{company}} <span class="company-location">{{location}}</span>
  </h3>
  <p class="company-summary">{{company_summary}}</p>
  {{#each positions position}}
</div>
